---
import BaseLayout from "../layouts/BaseLayout.astro";
import IconLink from "../components/IconLink.astro";
---

<BaseLayout>
  <div id="links" class="flex flex-row flex-wrap justify-center gap-2">
    <IconLink
      icon="mdi:steam"
      href="https://steamcommunity.com/id/too_long_name/"
      text="Steam"
    />
    <IconLink
      icon="ant-design:qq-circle-filled"
      href="/qq"
      text="QQ"
      newWindow={false}
    />
    <IconLink
      icon="ant-design:bilibili-filled"
      href="https://space.bilibili.com/4283693"
      text="哔哩哔哩"
    />
    <IconLink
      icon="fa6-brands:x-twitter"
      href="https://x.com/too__long__name"
      text="X / Twitter"
    />
    <IconLink
      icon="mdi:gitlab"
      href="https://gitlab.com/too_long_name"
      text="GitLab"
    />
    <IconLink
      icon="fa6-brands:telegram"
      href="https://t.me/too_long_name"
      text="Telegram"
    />
    <IconLink
      icon="mdi:email"
      href="mailto:mail@too-long-name.io"
      text="E-Mail"
    />
  </div>
</BaseLayout>
