---
import { Picture } from "astro:assets";

import QRCode from "../assets/image/qq-qrcode.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex justify-center items-center h-screen">
    <Picture
      src={QRCode}
      formats={["avif", "webp"]}
      alt="添加 QQ 二维码"
      loading="eager"
      class="h-[90vh] object-contain"
    />
  </div>

  /*
  <dialog
    id="dialog"
    class="absolute flex flex-col justify-center gap-8 h-screen w-screen text-center backdrop-blur-xl bg-[#2C3D48]/20"
  >
    <h1 class="text-2xl text-[#E8D5B7]">即将尝试跳转至 QQ 是否继续？</h1>
    <div class="btn-group">
      <button
        class="px-4 py-2 rounded-md bg-[#F9B248] hover:shadow-lg shadow-[#F9B248]/40"
      >
        跳</button
      >
      <button
        class="px-4 py-2 rounded-md bg-[#F9B248] hover:shadow-lg shadow-[#F9B248]/50"
      >
        不跳</button
      >
    </div>
  </dialog>
  */
</BaseLayout>

<script>
  // const dialog = document.querySelector("#dialog");

  window.addEventListener("load", () => {
    // dialog.showModal();

    window.open("https://qm.qq.com/q/HDweCbQ8cA");
  });
</script>
