---
import { Picture } from "astro:assets";

import BaseLayout2 from "../layouts/BaseLayout.astro";

import QRCode from "../assets/image/qq-qrcode-small-transparent.png";
---

<BaseLayout2>
  <div
    class="flex md:flex-row flex-col-reverse justify-around items-center gap-4"
  >
    <Picture
      id="qq-qrcode"
      src={QRCode}
      formats={["avif", "webp"]}
      alt="添加 QQ 二维码"
      loading="eager"
      class="max-w-80 rounded-xl backdrop-blur-sm bg-black/30"
    />
    <div class="grid gap-4">
      <h1
        id="qq-number"
        class="text-zinc-200 xl:text-6xl lg:text-5xl md:text-4xl text-2xl before:content-['QQ:']"
      >
        3757984495
      </h1>
      <a
        class="p-4 text-gray-200 text-center rounded-full backdrop-blur-xl bg-[#2C3D48]/20"
        href="https://qm.qq.com/q/HDweCbQ8cA"
      >
        点我跳转到 QQ</a
      >
    </div>
  </div>
</BaseLayout2>
