---
import "../styles/global.css";

import { Picture } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";

import QRCode from "../assets/image/qq-qrcode-small-transparent.png";
---

<BaseLayout>
  <div
    class="flex flex-col-reverse items-center justify-around gap-4 md:flex-row"
  >
    <Picture
      id="qq-qrcode"
      src={QRCode}
      formats={["avif", "webp"]}
      alt="添加 QQ 二维码"
      loading="eager"
      class="max-w-80 rounded-xl bg-black/30 backdrop-blur-sm"
    />
    <div class="grid gap-4">
      <h1
        id="qq-number"
        class="text-2xl text-zinc-200 before:content-['QQ:'] md:text-4xl lg:text-5xl xl:text-6xl"
      >
        3757984495
      </h1>
      <a
        class="rounded-full bg-[#2C3D48]/20 p-4 text-center text-gray-200 backdrop-blur-xl"
        href="https://qm.qq.com/q/HDweCbQ8cA"
      >
        点我跳转到 QQ</a
      >
    </div>
  </div>
</BaseLayout>
