---
interface Props {
  icon: string;
  color?: string;
  newWindow?: boolean;
  text: string;
  href: string;
}

const { icon, color, text, newWindow = true, href } = Astro.props;

const target = newWindow ? "_blank" : "_self";
---

<a
  href={href}
  target={target}
  class="bg-primary-200/20 hover:bg-primary-200/40 grid grid-flow-col items-center gap-x-2 rounded-full px-3 py-2 backdrop-blur-xl transition duration-300 ease-in-out"
>
  <span class:list={["iconify", `${icon}`, color]} class="size-8 text-gray-200"
  ></span>
  <span class="text-gray-200">{text}</span>
</a>
