---
interface Props {
  text: string;
  href?: string;
  last?: boolean;
  topic?: boolean;
}
const { text, href, last = false, topic = true } = Astro.props;
---

<div
  class="text-base text-[#E8D5B7] md:text-base lg:text-2xl"
  class:list={[{ "before:content-['#']": topic }]}
>
  {
    href ? (
      <a href={href} class="inline-block">
        <span class="underline decoration-dashed decoration-2">{text}</span>
      </a>
    ) : (
      <p class="inline-block">
        <span class="">{text}</span>
      </p>
    )
  }

  {!last && <span>/</span>}
</div>
