---
interface Props {
  href?: string;
  text: string;
}

const { href, text } = Astro.props;
---

{
  href ? (
    <a href={href} class="text-secondary-500 text-sm lg:text-2xl">
      {text}
    </a>
  ) : (
    <p class="text-secondary-500 inline text-sm lg:text-2xl">{text}</p>
  )
}
