---
interface Props {
  href?: string;
  text: string;
}

const { href, text } = Astro.props;
---

{
  href ? (
    <a href={href} class="text-sm text-[#E8D5B7] lg:text-2xl">
      {text}
    </a>
  ) : (
    <p class="inline text-sm text-[#E8D5B7] lg:text-2xl">{text}</p>
  )
}
